<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container" style="padding: 15px;">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header text-center" style="margin-left: 43%">
      <a class="navbar-brand" routerLink="">Company logo</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->

    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<section class="bg-primary1" >
  <div class="container">
    <div class="row">
      <div class="login-page">
        <div class="form">
          <form class="login-form">
            <input type="text" placeholder="username"/>
            <input type="password" placeholder="password"/>
            <button>Sign In</button>
            <!--<p class="message">Not registered? <a routerLink="/register">Create an account</a></p>-->
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
